/* TESTS */

.test-rd {
    border: 1px red dashed;
    background-color: rgba(255, 0, 0, 0.3)
}

.test-gr {
    border: 1px green dashed;
    background-color: rgba(0, 255, 0, 0.3)
}

.square {
    width: 200px;
    height: 200px;
    background-color: grey;
}

/* END MY TESTS */

header {
    height: 68px;
    width: 100%;
}

aside {
    top: 68px;

    width: 68px;
    height: calc(100vh - 68px);
}

main {
    top: 68px;
    left: 68px;

    width: calc(100% - 68px);
    height: calc(100vh - 68px);
    padding-top: 68px;

    overflow-y: auto;
}

/* MEDIA QUERRIES */

@media screen and (min-width: 992px) {
    aside {
        top: 68px;
        width: 150px;
    }
    
    main {
        left: 150px;
        width: calc(100% - 150px);

    }
}