/* COLORS */

.my-lightgrey {
    background-color: #E0E0E0;
}

.my_blue {
    background-color: #2A5BBA;
}

.my_orange {
    color: #F68F03;
}

/* DIMENSIONS FOR HEADER ASIDE AND MAIN*/

header {
    height: 70px;
    width: 100%;
}

header .hd_right_left {
    width: 70px;
}

#small_logo {
    width: 40px;
}


aside {

    width: 70px;
    height: calc(100vh - 70px);

    background-color: #071E34;
    background-image: url('../img/sidebar-bg.png');
}

/* Hover in Aside */

.my_hov_aside:hover {
    background-color: #e0e0e04b;
}

main {
    width: calc(100% - 70px);
    height: calc(100vh - 70px);

    overflow-y: auto;
}

/* Button with img in Table */

.my_class_avatar {
    width: 45px;
}

.icon_trash_pen {
    width: 30px;
    height: 30px;
}

/* MEDIA QUERRIES */

@media screen and (min-width: 992px) {
    header .hd_right_left {
        width: 170px;
    }

    aside {
        width: 150px;
    }

    .hd_right_left {
        width: 150px;
    }

    main {
        left: 150px;
        width: calc(100% - 150px);

    }

}
