/* TESTS */

.test-rd {
    border: 1px red dashed;
    background-color: rgba(255, 0, 0, 0.3)
}

.test-gr {
    border: 1px green dashed;
    background-color: rgba(0, 255, 0, 0.3)
}

.test-blu {
    border: 1px blue dashed;
    background-color: rgba(0, 0, 255, 0.3)
}

/* END MY TESTS */

/* COLORS */

.my-lightgrey {
    background-color: #E0E0E0;
    border-radius: 8px;
}


/* DIMENSIONS FOR HEADER ASIDE AND MAIN*/

body {
    font-family: sans-serif;
}

header {
    height: 70px;
    width: 100%;
}

header .hd_right_left {
    width: 70px;
}

aside {

    width: 70px;
    height: calc(100vh - 70px);

    background-color: #071E34;
    background-image: url('../img/sidebar-bg.png');
}

main {
    width: calc(100% - 70px);
    height: calc(100vh - 70px);

    overflow-y: auto;
}

/* MEDIA QUERRIES */

@media screen and (min-width: 992px) {
    header .hd_right_left {
        width: 170px;
    }

    aside {
        width: 150px;
    }

    .hd_right_left {
        width: 150px;
    }

    main {
        left: 150px;
        width: calc(100% - 150px);

    }

}